<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("../partials/head.ejs")%> 
	
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<link rel="stylesheet" href="/css/fieldDetail.css">
	
	<title>METEGOL | Detalle Cancha</title>
</head>
<body>
	<!--Header-->
	<%- include("../partials/header.ejs")%> 
		
	<!--Main Content-->
	<div class="align">
		<div class="form">
			<h1 class="nombreCancha"> <%= field.name %></h1>
			<div class="container-title">
				<h3 class="nombreComplejo"> Complejo: <%= field.complex %></h3>
				<div class="right">
					<li><a href="/fields/">&larr; Volver al listado</a></li>
				</div>
			</div>
			
			<div class="body">

				<!-- Carousel de imágenes -->
				<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="500">
					
					<ul class="carousel-indicators">
						<li data-target="#demo" data-slide-to="0" class="active"></li>
						<li data-target="#demo" data-slide-to="1"></li>
						<li data-target="#demo" data-slide-to="2"></li>
					</ul>
					<div class="carousel-inner">
					  <div class="carousel-item active">
						  <img src="/images/fields/<%= field.image1 ? field.image1 : 'default-product-image.png' %>" class="d-block w-100" alt="...">
					  </div>
					  <div class="carousel-item">
						<img src="/images/fields/<%= field.image2 ? field.image2 : 'default-product-image.png' %>" class="d-block w-100" alt="...">
					  </div>
					  <div class="carousel-item">
						<img src="/images/fields/<%= field.image3 ? field.image3 : 'default-product-image.png' %>" class="d-block w-100" alt="...">
					  </div>
					</div>
					<a class="carousel-control-prev"data-slide="prev">
						<span class="carousel-control-prev-icon"></span>
					  </a>
					  <a class="carousel-control-next" data-slide="next">
						<span class="carousel-control-next-icon"></span>
					</a>
				</div>

				  <!-- Descripción producto -->	
				<div class="descripcion">
					<h3 class="titulo">Dirección</h3>
					<p><%= field.address %></p>
					<p><a href="https://www.google.com/maps/search/<%= field.address %>">Ver ubicación en el mapa</a></p>
					<h3 class="titulo">Teléfono</h3>
					<p><%= field.phone %></p>
					<h3>Servicios</h3>
					<p><%= field.description %></p>
					<h3>Precio por hora</h3>
					<p>ARS <%= field.price %></p>
					
					<section class="buttons">
						<form class="has-buttons" action="?_method=DELETE" method="POST" href="/fields/<%= field.id %>">
							<button class="btn btn-danger" type="submit">ELIMINAR</button>
						</form>
						<a class="btn btn-primary" type="submit" href="/fields/<%= field.id %>/edit">EDITAR</a>
					</section>
				</div> 	
			</div>
		</div>
	</div>
				
	<!--Footer-->
	<%- include("../partials/footer.ejs")%> 
</body>
</html>
