<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("../partials/head.ejs")%> 
	<!--===============================================================================================-->
	<link rel="stylesheet" href="/css/createField.css">

	<title>METEGOL | Editar Cancha</title>
</head>

<body>
    <!--Header-->

    <%- include("../partials/header.ejs")%> 
    
    <!--Main Content-->

    <div class="align">
      <div class="form">
        <form action="/fields/<%= fields.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            
          <div class="container-title">
            <h1>Editar cancha</h1>
            <div class="right">
              <li><a href="/fields/<%= fields.id %>"><i class="fas fa-angle-left"></i> Volver al detalle de cancha</a></li>
            </div>
          </div>

        <!-- Formulario -->
        <div class="col-md-12">

          <div class="form-row">
            <div class="col-md-12">
              <label>Nombre del complejo:</label>
              <select class="selector" name="complexes_id" data-name="complejo">
                <!-- <option value=""><%= fields.complexes.complex %></option> -->
                <!-- La idea será agregarle el atributo "selected" a aquel <option> que corresponda con el ID de este registro -->
                  <% complexes.forEach(complexes => { %>
                    <option 
                      value="<%= complexes.id %>"
                      <%= complexes.id === fields.complexes_id ? 'selected' : null %> 
                    > 
                        <%= complexes.complex %> 
                    </option>
                  <% }) %>
              </select>
            </div>
          </div>
          
          <div class="form-row">
            <div class="col-md-12">
              <label>Nombre de la cancha:</label>
              <input type="text" class="input" name="name" value="<%= fields.name %>">
            </div>
          </div>

          <div class="form-row">
              <div class="col-md-4">
                <label>Tipo de cancha: </label>
                <select class="selector" name="categories_id" data-name="tipo de cancha">
                   <!-- <option value=""><%= fields.categories.category %></option> -->
                <% categories.forEach(categories => { %>
                  <option 
                    value="<%= categories.id %>"
                    <%= categories.id === fields.categories_id ? 'selected' : null %>
                  > 
                    <%= categories.category %> 
                  </option>
                <% }) %>
                </select>
              </div>
              <div class="col-md-4">
                <label>Tipo de cesped: </label>
                <select class="selector" name="grasses_id" data-name="tipo de cesped">
                  <!-- <option value=""><%= fields.grasses.type %></option> -->
                <% grasses.forEach(grasses => { %>
                  <option 
                    value="<%= grasses.id %>"
                    <%= grasses.id === fields.grasses_id ? 'selected' : null %>
                  > 
                    <%= grasses.type %> 
                  </option>
                <% }) %>
                </select>
                <div class="feedback"></div>
              </div>
              <div class="col-md-4">
                <label>Precio del alquiler por hora: </label>
                <input class="input" type="number" name="price" value="<%= fields.price %>">
              </div>
          </div>

          <div class="form-row">
            <div class="col-md-12">
              <label>Servicios: </label>
              <input class="input" name="description" value="<%= fields.description %>">
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-12">
              <label>Elige tres imágenes: </label>
            </div>
            <div class="upload-images col-md-12">
              <div class="form-row">
                <div class="col-md-4">
                  <label>Imagen 1:</label>
                  	<% if (fields.image1) { %>
							        <img class="fieldimg" src="/images/fields/<%= fields.image1 %>">
							        <input type="hidden" readonly name="currentImage" name="image1" value="<%= fields.image1 %>">
					  	      <% } %>
						        <input type="file" class="input" name="image1" value="<%= fields.image1 %>">
                </div>
                <div class="col-md-4">
                  <label>Imagen 2:</label>
                  	<% if (fields.image2) { %>
							        <img class="fieldimg" src="/images/fields/<%= fields.image2 %>">
							        <input type="hidden" readonly name="currentImage" name="image2" value="<%= fields.image2 %>">
					  	      <% } %>
						        <input type="file" class="input" name="image2" value="<%= fields.image2 %>">
                </div>
                <div class="col-md-4">
                  <label>Imagen 3:</label>
                  	<% if (fields.image3) { %>
							        <img class="fieldimg" src="/images/fields/<%= fields.image3 %>">
							        <input type="hidden" readonly name="currentImage" name="image3" value="<%= fields.image3 %>">
					  	      <% } %>
						        <input type="file" class="input" name="image3" value="<%= fields.image3 %>">
                </div>
              </div>
          </div>
        </div>

        <!-- Submit -->
        <button type="submit" value="submit" class="btn">GUARDAR</button>
      </form>
    </div>
  </div>

  <!--Footer-->
  <%- include("../partials/footer.ejs")%>

</body>

</html>