<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("../partials/head.ejs")%> 
	<!--===============================================================================================-->
	<link rel="stylesheet" href="/css/createField.css">

	<title>METEGOL | Editar Cancha</title>
</head>

<body>
    <!--Header-->

    <%- include("../partials/header.ejs")%> 
    
    <!--Main Content-->

    <div class="align">
      <div class="form">
        <form action="/fields/<%= field.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            
      <div class="container-title">
				<h1>Editar cancha</h1>
				<div class="right">
					<li><a href="/fields/<%= field.id %>">&larr; Volver al detalle de cancha</a></li>
				</div>
			</div>
			
          <div class="field-form">
                  
            <div class="input-fields">
              <label>Nombre del complejo:</label>
              <input type="text" name="complex" class="input" value="<%= field.complex %>">
              
              <label>Dirección:</label>
              <input type="text" name="address" class="input" value="<%= field.address %>">

              <label>Tipo de cancha: </label>
              <select class="selector" name="fieldType">
                <option value="<%= field.category %>"></option>
                <option value="F5">Futbol 5</option>
                <option value="F7">Futbol 7</option>
                <option value="F9">Futbol 9</option>
                <option value="F11">Futbol 11</option>
              </select>
            </div>
            
            <div class="input-fields-sd">
              <label>Nombre de la cancha:</label>
              <input type="text" class="input" name="name" value="<%= field.name %>">
               
              <label>Teléfono:</label>
              <input type="tel" name="phone" class="input" value="<%= field.phone %>">

              <label>Precio del alquiler por hora: </label>
              <input class="input" type="number" name="price" value="<%= field.price %>">
            </div>
              
          </div>

          <div class="description">
              <label>Servicios: </label>
              <input class="input" name="description" value="<%= field.description %>">
          </div>
          
          <div class="uploads">
            <label>Elige tres imágenes: </label>
              <div class="upload-images">
                <p class="image">
                  <% if (locals.product) { %>
                      <img src="/images/products/<%= field.image1 ? field.image1 : 'default-product-image.png' %>" alt="">
                      <input type="hidden" name="image1" value="<%= field.image1 %>">
                  <% } %>
                </p>
                <p>
                  <label>
                      Imagen 1
                      <input type="file" name="image1">
                  </label>
                </p>
                <p class="image">
                <% if (locals.product) { %>
                    <img src="/images/products/<%= field.image2 ? field.image2 : 'default-product-image.png' %>" alt="">
                    <input type="hidden" name="image2" value="<%= field.image2 %>">
                <% } %>
                </p>
                <p>
                  <label>
                    Imagen 2
                    <input type="file" name="image2">
                  </label>
                </p>
                <p class="image">
                  <% if (locals.product) { %>
                    <img src="/images/products/<%= field.image3 ? field.image3 : 'default-product-image.png' %>" alt="">
                    <input type="hidden" name="image3" value="<%= field.image3 %>">
                  <% } %>
                </p>
                <p> 
                  <label>
                    Imagen 3
                    <input type="file" name="image3">
                  </label>
                </p>
              </div>
          </div>
        <p class="buttons">
            <button type="submit" value="submit" class="btn btn-primary">Guardar cambios</button>
        </p>
          
      </form>
      </div>
    </div>
        
    <!--Footer-->
    <%- include("../partials/footer.ejs")%> 
    
	</div>
</body>
</html>