<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("../partials/head.ejs")%> 
	<!--===============================================================================================-->
	<link rel="stylesheet" href="/css/complexList.css">
	
	<title>METEGOL | Listado de Complejos</title>
</head>

<body>
	
	<!--Header-->
	<%- include("../partials/header.ejs")%> 
	
	<!--Main Content-->
	<div class="align">
		<div class="box">
			<div class="container-title">
				<h1>Listado de complejos</h1>
				<div class="right">
					<li><a>AGREGAR COMPLEJO</a></li>
				</div>
			</div>
			<div class="row">
				
				<% complexes.forEach( complexes => { %>

					<div class="col-lg-3 col-md-6 mb-" id ="space">
						<div class="card h-100">
							<a><img class="card-img-top" src="/images/complexes/<%= complexes.image %>"></a>
							<div class="card-body">
								<h3 class="card-title">
									<a><%= complexes.complex %></a>
								</h3>
								<p class="card-text">Dirección: <%= complexes.address %></p>
								<p class="card-text">Teléfono: <%= complexes.phone %></p>
							</div>
							<div class="card-footer">
								<h5 class="card-text"> Canchas disponibles: <%= count %></h5>
								<a class="btn btn-primary" type="submit" href="/fields">VER CANCHAS</a>
							</div>
						</div>
					</div>
				<% })%>
				
			</div>
		</div>
	</div>
	
	<!--Footer -->
	<%- include("../partials/footer.ejs")%> 
	
 </body>
</html>
