<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("../partials/head.ejs")%> 
	<!--===============================================================================================-->
	<link rel="stylesheet" href="/css/createUser.css">
	
	<title>METEGOL | Registro</title>
</head>

<body>
	
	 <!--Header-->
	<%- include("../partials/header.ejs")%> 
	
	<!--Main Content-->

	<div class="align">
		<div class="form">
            <form action="/users/<%= users.id %>?_method=PUT" method="POST" enctype="multipart/form-data">				
            
                <div class="container-title">
                    <h1>Editar usuario</h1>
                    <div class="right">
                        <li><a href="/users/<%= users.id %>"><i class="fas fa-angle-left"></i> Volver al perfil de usuario</a></li>
                    </div>
                </div>
            
                <div class="user-form">
                    
					<div class="input-fields">
						<label>Nombre:</label>
						<input type="text" class="input" name="name" value="<%= users.name %>">
						<label>Apellido:</label>
						<input type="text" class="input" name="surname" value="<%= users.surname %>">
						<label>Correo electrónico:</label>
						<input type="text" class="input" name="email" value="<%= users.email %>">
						<label>Avatar:</label>
						<% if (users.avatar) { %>
							<img class="avatar" src="/images/avatars/<%= users.avatar %>">
							<input type="hidden" readonly name="currentImage" name="avatar" value="<%= users.avatar %>">
						<% } %>
						<input type="file" class="input" name="avatar" title="Avatar" value="<%= users.avatar %>">
					</div>			
					
				</div>
            <div><button type="submit" class="btn">GUARDAR CAMBIOS</button></div>
            </form>	
		</div>
	</div>
	
	<!--Footer -->
	<%- include("../partials/footer.ejs")%> 
	
 </body>
</html>
